<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">sergio</property>
        <property name="hibernate.connection.pool_size">100</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/incidencias</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="pojos.Estado"/>
        <mapping class="pojos.RolPermiso"/>
        <mapping class="pojos.Tipo"/>
        <mapping class="pojos.Incidencia"/>
        <mapping class="pojos.Aula"/>
        <mapping class="pojos.Departamento"/>
        <mapping class="pojos.InfoHardware"/>
        <mapping class="pojos.Permiso"/>
        <mapping class="pojos.Profesor"/>
        <mapping class="pojos.Rol"/>
        <mapping class="pojos.TipoHarware"/>
    </session-factory>
</hibernate-configuration>
